- var lang = "cs";

- var title = "Speciální technologie - Střediska | technologie, potrubí, čerpadla, servis, míchadla, montáže, dodávky, instalace, údržba, ocelové konstrukce, odsíření";

- var metaDescription = "Spectech.cz - speciální technologie - Střediska - technologie, potrubí, čerpadla, servis, míchadla, montáže, dodávky, ocelové konstrukce, odsíření";

- var metaKeywords = "středisko, technologie, montáž, realizace, výroba, technologické celky, odsíření";

- var metaAuthor = "Eline.cz";

- var metaAuthorURL = "http://eline.cz";

- var metaURL = "https://spectech.cz";

- var metaSitename = "spectech.cz";


- var URLbase = "";


- var metaTwitterName = "@spectech.cz";

- var metaTwitterImg = URLbase+"img/placeholder-200x200.png";

- var metaFacebookName = "spectechcz";

- var metaYoutubeName = "spectechcz";

- var metaInstagramName = "spectechcz";

