/* ========================================================================== */
/* BUTTONS */
/* ========================================================================== */

.btn{
    font-size: 1.6rem; 
    min-height: 5.6rem;
    font-weight: 500;
    padding: 0rem 3rem 0rem 3rem;
    background: $brand-primary;
    color: $text-white;
    border-radius: $border-radius-primary;
    position: relative;
    border: 0;
    cursor: pointer;
    /*@include flexbox();*/
    display: inline-flex;
    @include flex-direction(row);
    @include align-items(center);
    @include justify-content(center);
    z-index: 2;
    white-space: normal;
    text-transform: uppercase;
    transition: 0.15s ease all;

    & .btn__icon{
        display: inline-block;
        height: 12px;
        width: 12px;
        margin: 0 5px;
    }
    & .btn__icon-fa{
        height: auto;
        width: auto;
        margin: 0 5px;
    }

    &:hover, &:active, &:focus{
        color: $text-white;
        box-shadow: none;
        background: $brand-primary--light;
    }
    &.-dark{
        background: $bg-dark;
    }
    &.-white{
        background: $bg-white;
        color: $text-primary;
    
        &:hover, &:active, &:focus{
            color: $text-primary;
            background: $bg-light;
        }
    }
    &.-light{
        background: $bg-light;
        color: $text-primary;
    
        &:hover, &:active, &:focus{
            color: $text-primary;
            background: $bg-light;
        }  
    }
}
@media screen and (max-width: 600px){
    .btn{
        padding: 0 2rem;
    }
}
@media screen and (max-width: 400px){
    .btn{
        padding: 0 1rem;
        min-height: 5.2rem;
    }
}




.btn.-ghost{
    background: transparent;
    color: $text-primary;

    &:hover, &:active, &:focus{
        background: transparent;
        color: $text-white;
        background: $bg-blue;

        .btn__icon::before, .btn__icon::after{
            color: $text-white;
            background: $bg-white;
        }
        .btn__icon.arrow-icon::before{
            border-top: 2px solid $bg-white;
            border-right: 2px solid $bg-white;
            background: transparent;
        }
    }
    &::before{
        content: "";
        @include absolute-position(0px,0px,0px,0px);
        border: 2px solid $border-blue;
        border-radius: $border-radius-primary;
    }

    &.-dark{
        color: $text-primary;

        &:hover, &:active, &:focus{
            background: $bg-dark;
            color: $text-white;
        }
        &::before{
            border: 2px solid $border-dark;
        }   
    }
}

.btn-ghost-white{
    background: transparent;
    border: 0;
    color: $text-white;

    &:hover, &:active, &:focus{
        background: $bg-white;
        color: $text-primary;
    }
    &::before{
        content: "";
        @include absolute-position(0px,0px,0px,0px);
        border: 2px solid $border-white;
        margin:0;
        border-radius: $border-radius-primary;
    }
}


.btn.-transparent{
    background: transparent;
}

.btn-ghost-grey{
    background: transparent;
    border: 0;
    color: $text-primary;

    &:hover, &:active, &:focus{
        background: $bg-grey;
        color: $text-primary;

        &::after{
            content: none;
        }
    }
    &::before{
        content: "";
        @include absolute-position(0px,0px,0px,0px);
        border: 2px solid $border-primary;
        margin:0;
        border-radius: $border-radius-primary;
    }
}

.btn-ghost-color{
    background: transparent;
    border: 0;
    color: $text-white;

    &:hover, &:active, &:focus{
        background: $brand-primary;
        color: $text-white;
    }
    &::before{
        content: "";
        @include absolute-position(0px,0px,0px,0px);
        border: 2px solid $brand-primary;
        margin:0;
        border-radius: $border-radius-primary;
    }
}


.btn-small{
    padding: 0.9rem 3rem 0.4rem;
    min-height: 4.6rem;
    line-height: 3rem;
}

.btn-invisible::before{
    content: none;
}

.btn-underline{
    background: transparent;
    color: $text-primary;
    border: 0;
    padding: 1rem 0rem 1rem 0rem;
    min-height: 4rem;
    font-size: 1.6rem;

    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        top: auto;
        left: 0;
        height: 2px;
        width: 100%;
        background: $brand-primary;
    }
    &:hover, &:active, &:focus{
        background: transparent;
        color: $brand-primary;

        &::after{
            height: 2px;
        }
    }
}