/*------------------------------------*\
    FORM ELEMENTS
\*------------------------------------*/

.form-control{
    font-size: 1.5rem;
    line-height: 3rem;
    padding:0.5rem 1.5rem;
    height: 4.6rem;
    font-weight: 400;
    border-radius: $border-radius-primary;
    @include box-shadow(0px,2px,3px,rgba(0,0,0,0.05));
    border: 0;
    color: $text-primary;

    &.btn{
        font-weight: 500;  
        border: 0;
        color: $text-white;
        &:focus{
            color: $text-white;
            background: $brand-primary--dark;
        }
    }
    &.error{
        border-color: $red-main;
        box-shadow: none;
        width: 100%;
    }
    &.valid{
        border-color: $green-main;
        box-shadow: none;
    }
    &:focus{
        color: $text-primary;  
    }
}
textarea.form-control{
    height: auto;
}
select.form-control:not([size]):not([multiple]) {
    height: 4.6rem;
}
.form-control:focus{
    background: $bg-white;
}
.form-group{
    font-weight: 400;
    padding-bottom: 2rem;  
    margin: 0;
    position: relative;

    button{
    width: 100%;
    cursor: pointer;
    border: 0;
    }
    span.error{
        color: $text-red;
        font-size: 13px;
        order: 1;
        margin: 0;
        width: 100%;
        display: block;
        background: rgba(195, 31, 37, 0.1);
        margin-top: 0px;
        padding: 2px 8px;
    }
    label{
        width: 100%;
    }
    h3{
        margin: 2rem 0;
    }  
    #show_password_toggler{
        cursor: pointer;
        position: absolute;
        top: 40px;
        right: 1.5rem;
        opacity: 0.6;
        padding: 0px;

        &:hover{
            opacity: 1;
        }
    }
}

.form-check__label .error::after{
    content: "";
    @include absolute-position(-1px,-1px,-1px,-1px);
    border: 1px solid $border-red;
    border-radius: $border-radius-primary;
}
.label__muted{
    opacity: 0.7;
}
.form-check{
    margin: 0;
    padding: 0;
}
.form-check__label{
    padding: 1.1rem 2rem 1.1rem 4rem;
    min-height: 6rem;
    @include box-shadow(0px,2px,3px,rgba(0,0,0,0.05));
    position: relative;
    background: $white;
    font-weight: 500;
    cursor: pointer;
    z-index: 1;
    @include flexbox();
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include align-items(center);
    margin: 0;
    border-radius: $border-radius-primary;
    line-height: 1.5;

    &.disabled{
        background: $bg-light;
        color: $black-transparent-50;

        & .form-check__price{
            color: $text-primary;
            opacity: 0.8;
        }
    }
}
.form-check__link{
    padding: 0;
}
.form-check__box{
    background: transparent;
    height: 14px;
    width: 14px;
    display: block;
    position: absolute;
    top: 2.3rem;
    right: 1rem;
    bottom: 1.5rem;
    left: 1.5rem;
    opacity: 0.5;
    @include transition (0.2s ease all);
}
.form-check__label{
    &:hover, &:active, &:focus{
        .form-check__box{
            opacity: 1;
        }
    }
}
.form-check__inline{
    display: inline-block;
}
.form-check__link{
    margin: 0;
}
.form-check__input:checked ~ .form-check__box{
    opacity: 1;
}
.form-check__box.checkbox::before{
    content: "";
    background: transparent;
    border: 2px solid $bg-dark;
    height: 100%;
    width: 100%;
    display: block;
    @include absolute-position(0, 0, 0, 0);
    @include transition (0.2s ease all);
}
.form-check__input:checked ~ .form-check__box.checkbox::before{
    background: $brand-primary;
    border: 2px solid $brand-primary;
}
.form-check__box.checkbox::after{
    content: "";
    display: block;
    @include absolute-position(2px, 0, 0, 5px);
    width: 4px;
    height: 8px;
    border: solid $bg-white;
    border-width: 0 2px 2px 0;
    @include transform(rotate(45deg) scale(0));
    @include transition(0.2s ease all);
}
.form-check__input:checked ~ .form-check__box.checkbox::after{
    @include transform(rotate(45deg) scale(1));
}
.form-check__box.radio::before{
    content: "";
    background: transparent;
    border: 2px solid $bg-dark;
    height: 100%;
    width: 100%;
    border-radius: 999px;
    display: block;
    @include absolute-position(0, 0, 0, 0);
}
.form-check__input:checked ~ .form-check__box.radio::before{
    background: transparent;
    border: 2px solid $brand-primary;
}
.form-check__input:checked ~ .form-check__box.radio::after{
    content: "";
    display: block;
    @include center(both);
    width: 6px;
    height: 6px;
    background: $brand-primary;
    border-radius: 999px;
}
.form-check__input{
    margin-left: -2.5rem;
    margin-top: 0;
    /*@include center(vertical);*/
    position: absolute;
    top: 2.3rem;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}
.form-check__price{
    margin: 0;
    font-weight: 500;
    color: $red-main;
    opacity: 1;
    @include flexbox();
    @include justify-content(flex-end);
    @include flex-grow(1);
    white-space: nowrap;
}
.form-check__description{
    display: block;
    opacity: 0.9;
    font-size: 13px;
    margin-top: 0.5rem;
    font-weight: 400;
    z-index: -1;
}
.form-check__input:checked ~ .form-check__price::after{
    content: "";
    @include absolute-position(-2px,-2px,-2px,-2px);
    background: $bg-white;
    z-index: -2;
    border-radius: $border-radius-primary;
    border: 2px solid $brand-primary;
}


/*
.form-check + .form-check{
    border-top: 0;
}
*/
.form-address-wrap{
    /*display: none;*/
    padding: 20px;
    background: $light-grey;
}
@media screen and (max-width: 1400px){
    .form-group #show_password_toggler{
        top: 34px;
    }
}
@media screen and (max-width: 991px){
    .form-group{
        & .form-check-label{
            padding: 1.1rem 2rem 1.1rem 4rem;

            & .form-check-input{
            margin-left: -2.5rem;
            }
        }
    }
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
/*------------------------------------*\
     FORMS
\*------------------------------------*/

.register-form, .login-form{
    h3{

        font-size: 2.5rem;
    }
    & button{
        width: 100%;
    }
    & .register-form-address-wrap{
        & .register-form-address-alt{
            font-size: 13px;
            margin-top: 1rem;
            display: block; 
            color: $dark-grey;
            cursor: pointer;
        }
    }   
    & .register-form-info-collapse-wrap{
        padding: 3rem 0;
    }
    .register-form-billing__wrap, .register-form-shipping__wrap, .register-form-register__wrap {
        display: none;
    }
}   

@media screen and (max-width: 991px){
    .register-form-col, .login-form-col{
        padding-top: 20px;
    }
    .register-form-col{
        order: 1;
        padding-bottom: 20px;
    }
    .login-form-col{
        order: 0;
    }
    .register-form-toggler__icon{
        @include center(vertical);
        right: 2rem;
        background: $bg-dark;
        height: 2px;
        width: 10px;

        &::after{
            content: "";
            @include center(both);
            height: 10px;
            width: 2px;
            background: $bg-dark;
        }
    }  
    .register-form-toggler, .login-form-toggler{
        cursor: pointer;
        background: $bg-light;
        padding: 2rem;
        display: block;
        color: $text-primary;
        border: 1px solid $border-primary;
        margin: 0;
        position: relative;
        
        &[aria-expanded="true"]{
            background: $bg-white;
        }
        &[aria-expanded="true"] .register-form-toggler__icon::after{
            content: none;
        }
    }
    .register-form-collapse, .login-form-collapse{
        border: 1px solid $border-primary;
        border-top: 0;
        padding: 10px;
    }
}
@media screen and (min-width: 992px){
    .form-row-wide{
        & .col-12{
            padding-right: 40px;
            padding-left: 15px;

            &:last-child{
                padding-right: 15px;
                padding-left: 40px;
            }
        }
    }
    .register-form, .login-form{

        & h3{
            display: block;
        }
        & .collapse{
            display: block;
        }
    }
    .register-form-toggler, .login-form-toggler{
        display: none;
        cursor: pointer;
    }
}
@media screen and (max-width: 991px){
    .register-form, .login-form{
        padding: 0;
        margin: 0;
    }
}
.tooltip{
    font-size: 12px;
}
.form-responsive-error{
    display: none;
    background: $bg-red;
    padding: 20px;
    color: $text-white;
    margin-top: 20px;
    border-radius: $border-radius-primary;
}
@media screen and (min-width: 992px){
    .form-responsive-error{
        display: none;
    }
}

.form-title{
    font-weight: 600;
    font-size: 2.2rem;
    margin-bottom: 2rem;
    color: $brand-primary;
}
@media screen and (max-width: 991px){
    .form-title{
        display: none;
    }
}


.form-group__wrap{
    position: relative;
}
.form-group__label{
    font-size: 1.6rem;
    position: absolute;
    top: 50%;
    @include transform(translateY(-50%));
    left: 2rem;
    transition: 0.2s ease all;
    opacity: 0.8;
    pointer-events: none;
    margin: 0;
    line-height: 1;
}
.form-group__input::placeholder{
    font-size: 0;
}
.form-group__input{
    height: 6rem;
    font-size: 1.6rem;
    padding: 0 2rem;
    font-weight: 500;
}
.form-group__error{
    position: relative;
    top: 100%;
    width: 100%;
    padding: 5px 2rem;
    color: rgba(201,23,23,1);
    background: rgba(201,23,23,0.2);
    font-size: 1.4rem;
    display: none;
}

/*push up*/

.form-group__input:focus, .form-group__input:not(:placeholder-shown) {
    padding: 1.8rem 2rem 0rem 2rem;
}
    .form-group__input:focus + .form-group__label, 
    .form-group__input:not(:placeholder-shown) + .form-group__label{
    font-size: 12px;
    top: 12px;
    @include transform(translateY(0%));
}



/*validation*/

.form-group__input:not(:focus):valid:not(:placeholder-shown):not([type="date"]) {
    background: rgba(75,194,40,0.2);
}

.form-group__input:not(:focus):invalid:not(:placeholder-shown):not([type="date"]){
    border: 1px solid rgba(201,23,23,0.2);
}



.form-group__input:not(:focus):invalid:not(:placeholder-shown):not([type="date"]) + .form-group__label + .form-group__error{
    display: block;
}

/* IE Edge 16+ CSS */ 
@supports (-ms-ime-align:auto){
    .form-group__label{
        top: -10px;
        transform: translateY(-100%);
        left: 0;
    }
    .form-group__wrap, .form-check {
        margin-top: 3rem;
    }
}
/* IE 10, 11 CSS */ 
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
    .form-group__label{
        top: -10px;
        transform: translateY(-100%);
        left: 0;
    }
    .form-group__wrap, .form-check {
        margin-top: 3rem;
    }
}


.form-section{
    background: $bg-light;
    padding: 5rem 9rem;
    margin: 10px 0;
}
.form-section__title{
    font-weight: 500;
    font-size: 2.2rem;
    margin-bottom: 2rem;
}
@media screen and (max-width: 991px){
    .form-section{
        padding: 20px;
    }
}
@media (max-height: 575px){
    .form-section{
        margin: 0;
    }
}