.modal-open .modal {
    background: rgba(57,68,78,0.85);
}
.modal-dialog {
    background: transparent;
    @include flexbox();
    @include flex-direction(row);
    @include align-items(center);
    margin: 0 auto;
    padding: 10px;
}
.modal-content{
    border-radius: $border-radius-primary;
    border: 0;
    top: 20px;
    margin-bottom: 20px;
    @include box-shadow(0px,2px,4px,rgba(0,0,0,0.08));
}
.modal-header{
    position: relative;
    @include flexbox();
    @include flex-direction(row);
    @include align-items(center);
    padding: 1.7rem 3rem;
    background: $bg-dark;
    border: 0;

    .close{
        margin: 0 0 0 auto;
        height: 100%;
        padding: 11px;
        border: 2px solid $bg-dark;
        border-radius: $border-radius-primary;
        @include transition(0.3s ease all);
        background: $black-transparent;

        &:hover, &:active, &:focus{
            background: $bg-red;

            .cross-icon::before, .cross-icon::after{
                background: $bg-white;
                opacity: 1;
            }
        }
    }
    .cross-icon {
        height: 14px;
        width: 14px;
    }
}
.modal-header.post__image-container{
    padding: 20px 20px 200px 20px;

    .close{
        background: $bg-white;
        border-radius: $border-radius-round;
        opacity: 1;

        &:hover, &:active, &:focus{
            background: $bg-light;
        }
    }
}
.modal-title{
    font-size: 2.4rem;
    font-weight: 400;
    color: $text-white;
}
.modal-body{
    padding: 0 10px;
    .cart-item-single{
        border: 0;
    }
}
.modal-footer{
    @include justify-content(center);
    padding: 3rem 10rem 4rem 10rem;
    border: 0;

    .btn{
        width: 100%;
    }
}
@media (max-width: 991px){
    .modal-footer{
        padding: 20px 30px 30px 30px;
    }
}

@media (min-width: 576px){
    .modal-dialog {
        max-width: 1110px;
    }
}
@media (max-width: 575px){
    .modal-header, .modal-footer{
        padding:  10px;
    }
    .modal-body{
        padding: 0;
    }
}


@media (max-height: 575px){
    .modal-dialog{
        @include align-items(flex-start);
    }
}


.modal-info__body{
    text-align: center;
}
.modal-info__body p{
    font-size: 1.6rem;
    line-height: 1.5;
}
.modal-info__footer .btn:last-child{
    margin-left: auto;
    margin-right: auto;
}


.modal-tabs__nav{
    @include justify-content(flex-end);
    border: 0;
}
.modal-tabs__text{
    margin: 0;
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
}
.modal-tabs__tab .modal-tabs__tab-link{
    border: 0;
    padding: .5rem;
    filter: grayscale(100%) contrast(50%);
}
.modal-tabs__tab-link.active{
    border: 0;
    padding: .5rem;
    filter: none;
}
.modal-tabs__tab-link img{
    height: 20px;
}

.modal-success{
    margin: 30px;
    background: $green-main;
    padding: 30px;
    color: $text-white;
    text-align: center;
    border-radius: $border-radius-primary;

    h2{
        margin: 0;
        font-size: 2.4rem;
    }
}