@charset 'utf-8';

@import "mixins/_prefixes";

@import "mixins/_position";

@import "variables/_variables";

/*------------------------------------*\
    IMPORT PLUGINS
\*------------------------------------*/

@import "plugins/bootstrap-reboot.min";

@import "plugins/jquery.cookiebar.min";

/*------------------------------------*\
    MAIN
\*------------------------------------*/

/* rem setup */
html {
    font-size: 10px;
}
@media screen and (max-width: 1400px) {
    html {
        font-size: 9px;
    }
}
@media screen and (max-width: 1200px) {
    html {
        font-size: 8.5px;
    }
}

body {
    font-size: 1.5rem;
    color: $text-primary;
    background: $bg-white;
    font-family: $font-family-main, $font-family-system;
    overflow-x: hidden;
    position: relative;
    width:100%;
    margin: 0;
    @include transition(0.3s margin ease);
} 

/* global box-sizing */
*, *:after, *:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
    text-rendering: optimizeLegibility;
}

/* selection */
::-moz-selection { /* Code for Firefox */
    color: $text-white;
    background: $brand-primary;
}

::selection {
    color: $text-white;
    background: $brand-primary;
}

/* links */
a {
    color: $brand-primary;
    font-weight: 500;
    font-size: 1.5rem;

    &:hover, &:focus, &:active{
        color: $text-primary;
        outline: none;
    }
}


/* clear */
.clear {
    *zoom: 1;

    &::before, &::after {
        content: ' ';
        display: table; 
    }
    &::after {
        clear: both;
    }
}

/* images */
img {
    max-width: 100%;
    vertical-align: bottom;
    height: auto;
}

/* images transition */
img{
    @include transition(0.3s opacity ease);
}

/* cover image */
.post__image-container{
    position: relative;
    z-index: 1;
}
.post__featured-image{
    object-fit: cover;
    @include absolute-position(0px, 0px, 0px, 0px);
    height: 100%;
    width: 100%;
    z-index: -1;
}

main{
    background: $bg-white;
    padding: 10rem 0;
}

@media screen and (max-width:768px){
    main{
        background: $bg-white;
        padding: 20px 0;
        /*
        .container{
            padding-right: 0px;
            padding-left: 0px;
        }
        */
    }
}
@media screen and (max-width:575px){
    main{
        padding: 20px 10px;
    }
}

.pswp__bg{
    background: rgba(0,0,0,0.9); 
}

.container{
    max-width: 1180px;
    padding-right: 20px;
    padding-left: 20px;
}
@media screen and (max-width:768px){
    .container{
        padding-right: 10px;
        padding-left: 10px;
    }
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.row{
    margin-right: -10px;
    margin-left: -10px;
}

/*------------------------------------*\
    PRINT 
\*------------------------------------*/

@import "_print";

/*------------------------------------*\
    COOIE BAR
\*------------------------------------*/

@import "_cookie-bar";

/*------------------------------------*\
    BUTTONS
\*------------------------------------*/

@import "_buttons";

/*------------------------------------*\
    ICONS
\*------------------------------------*/

@import "_icons";

/*------------------------------------*\
    FORM & FORM ELEMENTS
\*------------------------------------*/

@import "_form";

/*------------------------------------*\
     DROPDOWNS
\*------------------------------------*/

@import "_dropdowns";

/*------------------------------------*\
    NAVIGATION
\*------------------------------------*/

@import "_nav";

/*------------------------------------*\
    SECTIONS
\*------------------------------------*/

@import "_sections";

/*------------------------------------*\
    FOOTER & COPYRIGHT
\*------------------------------------*/

@import "_footer";

/*------------------------------------*\
    MODALS
\*------------------------------------*/

@import "_modal";

